* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #FFEFE7;
}

/*Nav's section styles*/
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 100px;
  padding: 0 30px;
  color: #7C6A0A;
}
nav p {
  font-size: 2.4rem;
}
nav .icons {
  display: flex;
  list-style: none;
  gap: 15px;
}
@media screen and (min-width: 600px) {
  nav .icons .icon {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  nav .icons .icon {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  nav .icons .menu {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  nav .icons .menu {
    display: flex;
  }
}

/*Main section styles*/
.main-section {
  width: 100%;
  height: auto;
  /*Movile screen*/
  /*Desktop screen*/
}
@media screen and (max-width: 600px) {
  .main-section article {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: auto;
  }
  .main-section article .impact-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    order: 1;
    width: 90%;
    min-width: 270px;
    margin: 0 auto;
  }
  .main-section article .impact-section h1 {
    color: #7C6A0A;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: bold;
  }
  .main-section article .impact-section p {
    color: #7C6A0A;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 300;
  }
  .main-section article .impact-section button {
    align-self: center;
    padding: 10px 40px;
    background-color: #FA9500;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 25px;
  }
  .main-section article .impact-section button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .main-section article .image-section {
    text-align: center;
  }
  .main-section article .image-section img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {
  .main-section article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    min-width: 600px;
    height: auto;
    padding: 45px;
    padding-bottom: 0;
    gap: 50px;
  }
  .main-section article .impact-section {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    gap: 35px;
    width: 50%;
    min-width: 270px;
    margin: 0 auto;
  }
  .main-section article .impact-section h1 {
    color: #7C6A0A;
    font-size: 4rem;
    line-height: 3.6rem;
    font-weight: bold;
  }
  .main-section article .impact-section p {
    color: #7C6A0A;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
  }
  .main-section article .impact-section button {
    align-self: flex-start;
    padding: 10px 40px;
    background-color: #FA9500;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
  }
  .main-section article .impact-section button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .main-section article .image-section {
    display: inline-flex;
    justify-content: flex-end;
    width: 50%;
    overflow: hidden;
  }
  .main-section article .image-section img {
    width: 90%;
    min-width: 270px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

section {
  width: 100%;
  min-width: 320px;
  height: auto;
}
section h2 {
  width: 100%;
  color: #7C6A0A;
  font-size: 2.4rem;
  padding: 20px 0 0 30px;
}
section .healthcare, section .furniture {
  padding-bottom: 40px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: auto;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media screen and (max-width: 730px) {
  section .healthcare .card-section, section .furniture .card-section {
    flex-wrap: nowrap;
    /*Horizontal scroll section start*/
    overflow-x: scroll;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    /*Horizontal scroll section end*/
  }
  section .healthcare .card-section .first-card, section .furniture .card-section .first-card {
    margin-left: 30px;
  }
  section .healthcare .card-section .last-card, section .furniture .card-section .last-card {
    margin-right: 30px;
  }
}
@media screen and (min-width: 730px) {
  section .healthcare .card-section, section .furniture .card-section {
    margin: 0 45px;
  }
}
section .healthcare .card-section .product-card, section .furniture .card-section .product-card {
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  width: calc(33.3333333333% - 100px);
  min-width: 190px;
  height: auto;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
}
section .healthcare .card-section .product-card svg, section .furniture .card-section .product-card svg {
  width: 20px;
  height: 20px;
  margin-bottom: 7px;
  align-self: flex-end;
}
@media screen and (max-width: 600px) {
  section .healthcare .card-section .product-card svg, section .furniture .card-section .product-card svg {
    display: none;
  }
}
section .healthcare .card-section .product-card .product-image, section .furniture .card-section .product-card .product-image {
  width: 100%;
  height: auto;
  align-content: center;
}
section .healthcare .card-section .product-card .product-image img, section .furniture .card-section .product-card .product-image img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .healthcare .card-section .product-card h3, section .furniture .card-section .product-card h3 {
  font-size: 2rem;
  font-weight: 600;
}
section .healthcare .card-section .product-card p, section .furniture .card-section .product-card p {
  font-size: 1.4rem;
  font-weight: 300;
}
section .furniture .card-section .product-card {
  background-color: #BABD8D;
  color: #fff;
}
section .furniture .card-section .product-card svg path {
  stroke: #fff;
}

.about-us {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-bottom: 30px;
}
.about-us h2 {
  width: 100%;
  font-weight: 500;
  padding-bottom: 60px;
}
.about-us .mision-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 600px) {
  .about-us .mision-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
}
.about-us .mision-section .earth, .about-us .mision-section .innovation {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.about-us .mision-section .earth img, .about-us .mision-section .innovation img {
  width: 100px;
  height: 100px;
}
.about-us .mision-section .earth p, .about-us .mision-section .innovation p {
  font-weight: 300;
  font-size: 1.3rem;
  color: #E86424;
  text-align: center;
}
.gallery {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
.gallery h2 {
  font-weight: 500;
  padding-bottom: 60px;
}
.gallery .carrusel {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (min-width: 730px) {
  .gallery .carrusel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 45px;
    min-width: 220px;
  }
}
.gallery .carrusel img {
  width: 70%;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 730px) {
  .gallery .carrusel img {
    width: calc(33.3333333333% - 50px);
    border-radius: 16px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery .carrusel img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}

/*Map's section*/
.location {
  width: 100%;
  height: auto;
}
.location h2 {
  font-weight: 500;
  padding-bottom: 60px;
}
.location .map {
  width: 90%;
  min-width: 320px;
  height: auto;
  overflow: hidden;
  padding-bottom: 30px;
  margin: 0 auto;
}
.location .map img {
  width: 100%;
  margin: 0 auto;
}
.location .first-location {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #E86424;
  padding-bottom: 30px;
  margin: 0 30px;
}
.location .sub-location {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #E86424;
  margin: 0 30px;
  padding-bottom: 80px;
}

footer {
  width: 100%;
  min-width: 320px;
  height: 280px;
  background-color: #FA9500;
  color: #fff;
}
footer h3 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 20px 0 10px 20px;
}
footer ul {
  list-style: none;
  padding: 10px 0 10px 20px;
}
footer ul li {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 20px;
}
footer .social-media {
  width: 100%;
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (min-width: 730px) {
  footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
footer .social-media .instagram-logo, footer .social-media .twitter-logo, footer .social-media .facebook-logo {
  width: 30px;
  height: 30px;
  background-image: url("../assets/icon/instagram-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
footer .social-media .facebook-logo {
  background-image: url("../assets/icon/facebook-logo.svg");
}
footer .social-media .twitter-logo {
  background-image: url("../assets/icon/twitter-logo.svg");
}/*# sourceMappingURL=main.css.map */