* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #FFEFE7;
}

/*Nav's section styles*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 100px;
  padding: 0 30px;
  color: #7C6A0A;
}
nav p {
  font-size: 2.4rem;
}
nav .icons {
  display: flex;
  list-style: none;
  gap: 15px;
}
@media screen and (min-width: 600px) {
  nav .icons .icon {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  nav .icons .icon {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  nav .icons .menu {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  nav .icons .menu {
    display: flex;
  }
}

/*Main section styles*/
.main-section {
  width: 100%;
  height: auto;
  /*Movile screen*/
  /*Desktop screen*/
}
@media screen and (max-width: 600px) {
  .main-section article {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: auto;
  }
  .main-section article .impact-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    order: 1;
    width: 90%;
    min-width: 270px;
    margin: 0 auto;
  }
  .main-section article .impact-section h1 {
    color: #7C6A0A;
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: bold;
  }
  .main-section article .impact-section p {
    color: #7C6A0A;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
  .main-section article .impact-section button {
    align-self: center;
    padding: 10px 40px;
    background-color: #FA9500;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 25px;
  }
  .main-section article .image-section {
    align-self: center;
  }
  .main-section article .image-section img {
    width: 336px;
    height: 360px;
  }
}
@media screen and (min-width: 600px) {
  .main-section article {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-width: 600px;
    height: auto;
    padding: 45px;
    gap: 50px;
  }
  .main-section article .impact-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 50%;
    min-width: 270px;
    margin: 0 auto;
  }
  .main-section article .impact-section h1 {
    color: #7C6A0A;
    font-size: 4rem;
    line-height: 3.6rem;
    font-weight: bold;
  }
  .main-section article .impact-section p {
    color: #7C6A0A;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
  }
  .main-section article .impact-section button {
    align-self: flex-start;
    padding: 10px 40px;
    background-color: #FA9500;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
  }
  .main-section article .image-section {
    display: inline-flex;
    justify-content: flex-end;
    width: 50%;
    overflow: hidden;
  }
  .main-section article .image-section img {
    width: 90%;
    min-width: 270px;
    max-width: 430px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

section {
  width: 100%;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2.4rem;
}
section .healthcare h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .product-card {
  display: inline-flex;
  flex-direction: column;
  width: calc(33.3333333333% - 20px);
  min-width: 250px;
  max-width: 270px;
  height: auto;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 3px;
}
section .healthcare .product-card svg {
  width: 20px;
  height: 20px;
  margin-bottom: 7px;
  align-self: flex-end;
}
section .healthcare .product-card img {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
section .healthcare .product-card h3 {
  font-size: 2rem;
  font-weight: 600;
}
section .healthcare .product-card p {
  font-size: 1.1rem;
  font-weight: 300;
}/*# sourceMappingURL=main.css.map */