$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;
$layout-breakpoint-small: 375px;
$layout-breakpoint-medium: 600px;
$layout-breakpoint-tablet: 730px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $font-stack;
    font-size: 62.5%;
}

body {
    background-color: $primary-color;
}

/*Nav's section styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 100px;
    padding: 0 30px;
    color: $primary-text-color;

    p {
        font-size: 2.4rem;
    }

    .icons {
        display: flex;
        list-style: none;
        gap: 15px;

        .icon {
            @media screen and (min-width: $layout-breakpoint-medium) {
                display: flex;
            }

            @media screen and (max-width: $layout-breakpoint-medium) {
                display: none;
            }
        }

        .menu {
            @media screen and (min-width: $layout-breakpoint-medium) {
                display: none;
            }

            @media screen and (max-width: $layout-breakpoint-medium) {
                display: flex;
            }
        }
    }
}

/*Main section styles*/
.main-section {
    width: 100%;
    height: auto;

    /*Movile screen*/
    @media screen and (max-width: $layout-breakpoint-medium) {
        article {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-width: 320px;
            height: auto;

            .impact-section {
                display: flex;
                flex-direction: column;
                gap: 15px;
                order: 1;
                width: 90%;
                min-width: 270px;
                margin: 0 auto;

                h1 {
                    color: $primary-text-color;
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                    font-weight: bold;
                }

                p {
                    color: $primary-text-color;
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                    font-weight: 400;
                }

                button {
                    align-self: center;
                    padding: 10px 40px;
                    background-color: #FA9500;
                    color: #fff;
                    outline: none;
                    border: none;
                    border-radius: 25px;
                }
            }

            .image-section {
                align-self: center;

                img {
                    width: 336px;
                    height: 360px;
                }
            }
        }
    }

    /*Desktop screen*/
    @media screen and (min-width: $layout-breakpoint-medium) {
        article {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            min-width: 600px;
            height: auto;
            padding: 45px;
            padding-bottom: 0;
            gap: 50px;

            .impact-section {
                display: flex;
                flex-direction: column;
                gap: 35px;
                width: 50%;
                min-width: 270px;
                margin: 0 auto;

                h1 {
                    color: $primary-text-color;
                    font-size: 4rem;
                    line-height: 3.6rem;
                    font-weight: bold;
                }

                p {
                    color: $primary-text-color;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    font-weight: 400;
                }

                button {
                    align-self: flex-start;
                    padding: 10px 40px;
                    background-color: #FA9500;
                    color: #fff;
                    outline: none;
                    border: none;
                    border-radius: 25px;
                    margin-top: 30px;
                }
            }

            .image-section {
                display: inline-flex;
                justify-content: flex-end;
                width: 50%;
                overflow: hidden;

                img {
                    width: 90%;
                    min-width: 270px;
                    max-width: 430px;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}

section {
    width: 100%;
    height: auto;
    padding: 20px;
    padding-bottom: 0;

    h2 {
        color: $primary-text-color;
        font-size: 2.4rem;
    }

    .healthcare {
        padding-bottom: 60px;

        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }

        .card-section {
            display: flex;
            row-gap: 30px;
            @media screen and (max-width: $layout-breakpoint-tablet) {
                flex-wrap: nowrap;
                /*Horizontal scroll section start*/
                overflow-x: scroll;
                scroll-behavior: smooth;
                overscroll-behavior-x: contain;
                scroll-snap-type: x proximity;
                /*Horizontal scroll section end*/
            }
            flex-wrap: wrap;
            justify-content: space-between;
            width: auto;
            height: auto;
            column-gap: 40px;

            .product-card {
                position: relative;
                scroll-snap-align: center;

                display: flex;
                flex-direction: column;
                width: calc(100%/3 - 100px);
                min-width: 200px;
                max-width: 370px;
                height: auto;
                background-color: $secondary-color;
                color: $primary-text-color;
                padding: 20px;
                border-radius: 8px;

                svg {
                    width: 20px;
                    height: 20px;
                    margin-bottom: 7px;
                    align-self: flex-end;
                    @media screen and (max-width: $layout-breakpoint-medium) {
                        display: none;
                    }
                }

                .product-image {
                    width: 100%;
                    height: auto;
                    align-content: center;

                    img {
                        width: 100%;
                        height: auto;
                        margin: 0 auto;
                        object-fit: cover;
                        border-radius: 6px;
                    }


                }

                h3 {
                    font-size: 2rem;
                    font-weight: 600;
                }

                p {
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }

        }

    }

    .furniture{
        @extend .healthcare;
        .card-section{
            .product-card{
                background-color: $tertiary-color;
                color: #fff;

                svg path{
                    stroke: #fff;
                }
            }
        }
    }
}